.grid {
    width: 300px;
    height: 300px;
    display: flex;
    cursor: pointer;
    .left {
        width: 70%;
        background-color: #637b67;
        border-radius: 10px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .right {
        width: 30%;
        background-color: #a2ae9f;
        color: #637b67;
        border-radius: 0 10px 10px 0;
        margin-left: -10px;
        p {
            transform: rotate(-90deg) translate(-50%, -201%);
            margin-top: 38%;
            font-size: 27px;
            width: 232px;
            text-align: center;
        }
    }
}
.active {
    transform: scale(1.2, 1.2);
}