.header {
    padding: 20px 60px;
    img {
        height: 30px;
    }
    span {
        text-align: center;
        margin: 0 40%;
        font-size: 20px;
        font-weight: 600;
        color: #1d3322;
    }
}